# 
venv*
.vscode
*.pyc
*__pycache__*
*.svg
*.pdf
*.csv
*.png
*.txt
events.out.tfevents*
*.pth.tar
*.pkl
*.sh

# add assets
!assets/**
!assets/setric.svg

# Data Directory
debug_results/*
data/raw/*
data/processed/*

# Results folder of every Studie
results**/*
!results/cr_fusion_08/**
